.TopMenu li{
    display: inline-block;
    color:brown
}

h2{
    color: rgb(11, 61, 117)
}

header{
    background-color: lightgray;
}
body{
    background-color: gray;
}

.projects li{
    display: inline-block;
}